@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);
:root {
  --colors-white: #ffffff;
  --colors-whiteA100: #ffffffff;
  --colors-whiteA050: #ffffff80;
  --colors-whiteA000: #ffffff00;
  --colors-gray900: #464d52;
  --colors-gray800: #5a5a5a;
  --colors-gray700: #868686;
  --colors-gray600: #999999;
  --colors-gray500: #c3c3c3;
  --colors-gray400: #d8d8d8;
  --colors-gray300: #ececec;
  --colors-gray200: #f2f4f6;
  --colors-gray100: #f5f5f5;
  --colors-grayA100: #d8d8d8ff;
  --colors-grayA050: #d8d8d850;
  --colors-grayA000: #d8d8d800;
  --colors-gray900rgb: 70, 77, 82;
  --colors-blue500: #5673eb;
  --colors-blue400: #95a7ee;
  --colors-blue300: #cad3f8;
  --colors-blue200: #d5dbf3;
  --colors-blue100: #eff2ff;
  --colors-blueA100: #5673ebff;
  --colors-blueA050: #5673eb50;
  --colors-blueA000: #5673eb00;
  --colors-red500: #eb5374;
  --colors-red200: #ffd5de;
  --colors-red100: #fdeaee;
  --colors-sky500: #4a9ae5;
  --colors-sky100: #e8f2fc;
  --colors-pink500: #bf2e70;
  --colors-pink100: #f7e5ed;
  --colors-gold500: #cb9110;
  --colors-gold100: #fbf1d8;
  --colors-background: #ffffff;
  --colors-mobileBackground: #f3f4f5;
  --colors-mapStroke: #ffffff;
  --colors-mapLabelBackground: #ffffff;
  --colors-shadowBackground1: #ffffff;
  --colors-shadowBackground2: #ffffff;
  --colors-sectionBorder: #dedede;
  --colors-subSectionBorder: #e5e5e5;
  --colors-buttonBorder: #dcdcdc;
  --colors-chartOptionBorder: transparent;
  --colors-switchBackground: rgba(var(--colors-gray900rgb), 0.1);
  --colors-switchThumbBackground: white;
  --shadows-elevation1: rgb(0 0 0 / 4%) 0rem 0.125rem 0.625rem 0rem;
  --shadows-elevation2: rgb(0 0 0 / 3%) -0.0625rem 0.0625rem 0.375rem 0rem;
  --shadows-subSectionBoxShadow: rgb(0 0 0 / 8.5%) -0.0625rem 0.0625rem 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spoqa Han Sans Neo", "Spoqa Han Sans JP", sans-serif;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  padding: 2em;
  gap: 1em;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0.75rem;
  border: 0.0625rem solid var(--colors-sectionBorder);
  box-shadow: var(--shadows-elevation1);
}

div.heading {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 10px;
  gap: 20px;
}

/* 1파트 : drag-area
==================================== */
.drag-area {
  height: 200px;
  width: 100%;
}
.drag-area .icon {
  font-size: 100px;
  color: #6b6d6b;
}
.drag-area header {
  font-size: 30px;
  font-weight: 500;
  color: #6b6d6b;
}
.drag-area span {
  font-size: 25px;
  font-weight: 500;
  color: #6b6d6b;
  margin: 10px 0 15px 0;
}

/* 2파트 : overviw-area
==================================== */
.overview-area {
  gap: 10px;
  align-items: left;
  justify-content: center;
  padding: 1em;
  width: 100%;
  opacity: 0;
  transition: opacity 1.6s ease-in-out;
}

.overview-area p {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.overview-area a {
  color: inherit;
}

/* 3파트 : table-area
==================================== */
.table-header {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  flex-direction: row;
}

.table-area {
  opacity: 0;
  transition: opacity 1.6s ease-in-out;
}
/* loader
==================================== */

.show {
  opacity: 1;
}

/* loader
==================================== */

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fed;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fed transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Buttons
==================================== */
button {
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  background: var(--colors-shadowBackground1);
  box-shadow: var(--shadows-elevation2);
  border: 0.0625rem solid var(--colors-buttonBorder);
}

.break {
  display: flex;
  flex-basis: 100%;
  height: 0;
}

/* Table
==================================== */

table {
  table-layout: fixed;
  width: 100%;
  *margin-left: -100px; /*ie7*/
}
td,
th {
  text-align: right;
  vertical-align: middle;
  border-top: 1px solid #ccc;
  padding: 10px;
  width: 100px;
}
.fix {
  position: absolute;
  *position: relative; /*ie7*/
  margin-left: -100px;
  width: 100px;
}
.outer {
  position: relative;
  padding: 10px;
}
.inner {
  overflow-x: scroll;
  overflow-y: scroll;
  width: 100%;
  height: 800px;
  /* width: 800px;
   */
}

tr > td:first-child {
  text-align: center;
}
tr > th:first-child {
  text-align: center;
}

/* WordCloud
==================================== */

.legend {
  font-size: 0.8em;
  margin: 10px;
  padding: 8px;
}
.bld {
  font-weight: bold;
}

.wordcloud-area {
  opacity: 0;
  transition: opacity 1.6s ease-in-out;
}

section.wordcloud-area.show {
  opacity: 1;
}

.wordcloud-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 30px;
  flex-direction: row;
  align-items: baseline;
}

/* Footer
==================================== */
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

i {
  color: black;
}
.footer p {
  margin-top: 10px;
  font-size: 0.7rem;
}
i:hover {
  color: #aec6cf;
  transition: 0.4s;
  cursor: pointer;
}
